body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

.header .Imagen_header img {
    width: 100%;
    height: auto;
}

.header .logotipo img {
    width: 50px;
    height: auto;
}

.header p {
    margin: 10px 0;
}

.sections_articulos {
    display: flex;
    justify-content: space-between;
}

.sections_articulos nav ul {
    list-style-type: none;
    padding: 0;
}

.sections_articulos nav ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sections_articulos nav ul li img {
    margin-right: 10px;
}

.sections_articulos .recomendaciones {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sections_articulos .recomendaciones img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.sections_articulos .recomendaciones .text {
    margin-left: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
}

.filter-section {
    margin-bottom: 20px;
    background-color:  rgb(157, 165, 165);
    border-radius: 5px;
    height: 100px;
    width: 400px;
}
.filter-section label{
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
}
.selector{
    width: 70%;
    padding: 5px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.email-section {
    margin-bottom: 20px;
    text-align: center;
}

.report-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.report-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Mueve el contenido a la derecha */
    margin-bottom: 20px;
}

.chart-container {
    width: 600px; /* Ancho fijo para la gráfica */
}

.chart-container canvas {
    width: 100%;
    height: auto;
    background-color: #bebebe;
    border-radius: 5px;
}

.table-container {
    width: 100%; /* Ancho completo de la tabla */
    display: flex;
    justify-content: center; /* Centrar la tabla */
}

.table-container table {
    width: 100%; /* Ancho completo de la tabla */
    border-collapse: collapse; /* Colapsar bordes */
}

.table-container table th,
.table-container table td {
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alinear texto a la izquierda */
}

.table-container table th {
    background-color: #f2f2f2; /* Color de fondo de los encabezados */
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: rgba(84, 158, 187, 0.2);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888; 
    border-radius: 10px; 
    width: 80%; 
    max-width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label,
.modal-content input {
    margin-bottom: 10px;
}

.modal-content input {
    padding: 10px; 
    width: 100%; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.modal-content label {
    font-weight: bold; 
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
}

.form-buttons button {
    margin-left: 10px;
    border-radius: 5px;
    padding: 8px 16px; 
    font-size: 14px; 
}

#close-form {
    background-color: rgb(157, 165, 165);
    font-style: italic;
    color: black;
}

#send-info {
    background-color: rgb(110, 185, 91);
    font-style: italic;
    color: black;
    font-weight: bold; 
}
#share-info{
    margin-right: 80%;
    color: black;
}